body {
    background: rgb(38,33,33);
    background: -moz-radial-gradient(circle, rgba(38,33,33,1) 0%, rgba(12,14,45,1) 50%, rgba(63,0,255,1) 51%, rgba(0,0,0,1) 52%, rgba(42,40,40,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(38,33,33,1) 0%, rgba(12,14,45,1) 50%, rgba(63,0,255,1) 51%, rgba(0,0,0,1) 52%, rgba(42,40,40,1) 100%);
    background: radial-gradient(circle, rgba(38,33,33,1) 0%, rgba(12,14,45,1) 50%, rgba(63,0,255,1) 51%, rgba(0,0,0,1) 52%, rgba(42,40,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262121",endColorstr="#2a2828",GradientType=1);
}

fieldset {
    width: 20rem;
    height: 22rem;
    margin: auto;
    margin-top: 10rem;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px -1px 17px 0px rgba(0, 0, 0, 0.75);
}

.box input {
    width: 300px;
    height: 20px;
    margin: 4px;
}

.box textarea {
    resize: none;
    width: 300px;
    margin: 4px;
}

.box button {
    margin-left: 6rem;
    background-color: #ff0bc2;
    border: 0px;
    padding: 10px 40px;
    color: white;
    font-size: 1rem;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}